.card {
  width: 400px;
  height: 400px;
  margin: auto;
  align-content: center;
}

.card-front, .card-back {
  width: 100%;
  height: 100%;
}

.content p {
  line-height: 200px;
  text-align: center;
}
.card-front {
  background: lightpink;
}

.card-back {
  background: aquamarine;
}
